BOT_TOKEN=bot-token

DOWNLOADS_PATH=/dev/shm/
DOWNLOADS_RETRIES=3
DOWNLOADS_DELAY=3

OPENAI_SPEECH_API_KEY=api_key
OPENAI_SPEECH_MODEL=whisper-1

OPENAI_LLM_API=api-key
OPENAI_MODEL=gpt-5-nano
LLM_MASTER_PROMPT=Respond in the user's language (mostly Ukrainian), but never use Russian. Keep replies under 1000 characters, punchy and straight to the point.
